@model CreateFlightViewModel

<h2 class="text-center border-bottom border-dark-subtle border-3 pb-3 mt-3 border-opacity-100">Create Flight</h2>

<form method="post" class="w-50 mx-auto" asp-controller="Flight" asp-action="Create">
    <div class="mb-3">
        <label class="form-label" for="flightNumber">Flight Number</label>
        <input asp-for="FlightNumber" class="form-control" />
    </div>
    <div>
        <label class="form-label" for="aircraft">Aircraft</label>
        <select class="form-select" asp-for="Aircraft" asp-items="Model.Aircrafts">
            <option selected hidden disabled>Select Aircraft</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label"for="origin">Origin</label>
        <select class="form-select" asp-for="OriginCountry" asp-items="Model.OriginCountryOptions">
            <option selected hidden disabled>Select Country</option>
        </select>
        <select class="form-select d-none" asp-for="Origin">
            <option selected hidden disabled>Select Origin</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label"for="destination">Destination</label>
        <select class="form-select" asp-for="DestinationCountry" asp-items="Model.DestinationCountryOptions">
            <option selected hidden disabled>Select Country</option>
        </select>
        <select class="form-select d-none" asp-for="Destination">
            <option selected hidden disabled>Select Destination</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label"for="durationInMinutes">Duration (In Minutes)</label>
        <input class="form-control" asp-for="DurationInMinutes" />
    </div>
    <div class="mb-3">
        <label class="form-label"for="departure">Departure</label>
        <input class="form-control" asp-for="Departure" step="any" />
    </div>
    <div class="mb-3">
        <label class="form-label"for="price">Price</label>
        <input class="form-control" asp-for="Price" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn bg-dark text-white">Create</button>
    </div>
</form>

@section Scripts {
    <script src="~/js/selectFlight.js"></script>
}

