@using BuzzAir.Models.DbModels.Enums;
@model AirportCreateViewModel

<h2 class="text-center border-bottom border-dark-subtle border-3 pb-3 mt-3 border-opacity-100">Create Airport</h2>

<form method="post" class="w-50 mx-auto" asp-controller="Airport" asp-action="Create">
    <div class="mb-3">
        <label for="ICAO">ICAO</label>
        <input class="form-control" asp-for="ICAO" />
    </div>
    <div class="mb-3">
        <label for="IATA">IATA</label>
        <input class="form-control" asp-for="IATA" />
    </div>
    <div class="mb-3">
        <label for="Name">Name</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label for="Country">Country</label>
        <select class="form-control" asp-for="Country" asp-items="Model.CountryOptions">
            <option selected hidden disabled>Select Country</option>
        </select>
    </div>
    <div class="mb-3 d-none">
        <label for="State">State</label>
        <select class="form-control" asp-for="State">
            <option selected hidden disabled>Select State</option>
        </select>
    </div>
    <div class="mb-3 d-none">
        <label for="City">City</label>
        <select class="form-control" asp-for="City">
            <option selected hidden disabled>Select City</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="Elevation">Elevation</label>
        <input class="form-control" asp-for="Elevation" />
    </div>
    <div class="mb-3">
        <label for="Latitude">Latitude</label>
        <input class="form-control" asp-for="Latitude" />
    </div>
    <div class="mb-3">
        <label for="Longitude">Longitude</label>
        <input class="form-control" asp-for="Longitude" />
    </div>
    <div class="mb-3">
        <label for="Timezone">Timezone</label>
        <select class="form-control" asp-for="TimeZone" asp-items="Model.TimezoneOptions">
            <option selected hidden disabled>Select Timezone</option>
        </select>
    </div>
    <div>
        <button type="submit" class="btn bg-dark text-white">Create</button>
    </div>
</form>

 <script src="~/js/selectAirport.js"></script>