@{
    ViewData["Title"] = "About";
}
<h2 class="text-center">@ViewData["Title"] BuzzAir</h2>
<h5 class="text-center mt-5">
    Welcome to the biggest airline in the world.
    <br />
    <br />
    BuzzAir will provide you with a great variety of destinations
    <br />
    to choose from and to have a wondeful trip just like in a fairytale.
    <br />
    <br />
    We strive to provide wou with the best service
    <br />
    there is and to provide great customer care and great adventures on board.
    <br />
    <br />
    Have a wonderful trip on board.
</h5>
<h5 class="text-right">
    With Love
    <br />
    BuzzAir
</h5>
