@{
    ViewData["Title"] = "Home";
}

<div class="bg-BuzzAir p-4">
    <h1 class="pt-4 text-center">
        Welcome to BuzzAir
    </h1>
    <h5 class="text-center"> Welcome to the world of opportunities.</h5> 
    @*<p class="display-4 pt-3">
        <a href="/Identity/Account/Login">Login</a> to book a ticket or <br /> 
        <a href="/Identity/Account/Register">Register</a> if you don't have an account
    </p>*@
    @if (Model.Authenticated)
    {
    <form action="~/Home/Search" method="post">
        <section>
            <select id="origin" name="origin" required class="w-25 mt-2">
                <option value="" disabled selected hidden>
                    Origin
                </option>
                @for (int i = 0; i < Model.Airports.Count; i++)
                {
                    <option selected value="@Model.Airports[i].Name">
                        @(Model.Airports[i].Name + ", " + Model.Airports[i].City + ", " + Model.Airports[i].Country)
                    </option>
                }
            </select>
        </section>
        <section>
            <select name="destination" required class="w-25 mt-2">
                <option value="" disabled selected hidden>
                    Destination
                </option>
                @for (int i = 0; i < Model.Airports.Count; i++)
                {
                    <option value="@Model.Airports[i].Name">
                        @(Model.Airports[i].Name + ", " + Model.Airports[i].City + ", " + Model.Airports[i].Country)
                    </option>
                }
            </select>
        </section>
        <section>
            <input name="passengersNumber" type="number" value="1" min="1" max="10" class="w-25 mt-2" />
        </section>
        <section>
            <input type="submit" value="Search Flights" class="w-25 mt-2" />
        </section>
    </form>
    }
    else
    {
        <img src="~/images/logo.png" alt="buzz" class="img-fluid mt-3" />
    }
</div>
