@{
    ViewData["Title"] = "Home";
}

<div class="bg-BuzzAir p-4">
    <h1 class="pt-4 text-center">
        Welcome to BuzzAir
    </h1>
    <h5 class="text-center"> Welcome to the world of opportunities.</h5>
    <img src="~/images/logo.png" alt="buzz" class="img-fluid mt-3" />
</div>
