@{
    ViewData["Title"] = "Home";
}

@model IndexViewModel

<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/city.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/lake.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/london.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/nature.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/sunrise.jpg" class="d-block w-100">
        </div>
    </div>
</div>

<div id="searchBar" class="position-absolute">
    <div id="tab">
        <i class="fa-solid fa-plane"></i> Flights
    </div>
    <form name="searchFlightsForm" method="post" class="row ms-0 g-3 align-items-center" asp-controller="Booking" asp-action="CreateBooking" id="bookingForm">
        <div class="row">
            <div class="form-check col-1">
                <input class="form-check-input" type="radio" name="isReturning" id="isReturning1" value="Return" checked>
                <label class="form-check-label" for="isReturning1">
                    Return
                </label>
            </div>
            <div class="form-check col-1">
                <input class="form-check-input" type="radio" name="isReturning" id="isReturning2" value="OneWay">
                <label class="form-check-label" for="isReturning2">
                    One Way
                </label>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="form-floating">
                    <select class="form-select form-select-lg" style="height: auto;" asp-for="Origin" asp-items="Model.Origins" id="originSelect">
                        <option selected hidden disabled value="">Origin</option>
                    </select>
                    <label for="originSelect">Origin</label>
                </div>
                <div class="form-floating">
                    <select class="form-select form-select-lg" style="height: auto;" asp-for="Destination" id="destinationSelect">
                        <option selected hidden disabled>Destination</option>
                    </select>
                    <label for="destinationSelect">Destination</label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="input-group">
                <div class="form-floating">
                    <input type="text" class="form-control form-control-lg" style="height: auto;" asp-for="Departure" id="departureDate" placeholder="Departure" />
                    <label for="departureDate">Departure</label>
                </div>
                <div class="form-floating" id="returnGroup">
                    <input type="text" class="form-control form-control-lg" style="height: auto;" asp-for="Return" id="returnDate" placeholder="Return" />
                    <label for="returnDate">Return</label>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="form-floating">
                <input class="form-control form-control-lg" asp-for="Passengers" style="height: auto;" min="1" max="10" value="" id="passengersCount" placeholder="Passengers" />
                <label for="passengersCount">Passengers</label>
            </div>
        </div>
        <div class="col-2 text-center">
            <button type="submit" class="w-100 btn btn-lg bg-dark text-white"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>
    </form>
    <div id="text">
        <h1 class="pt-4 text-center">
            Welcome to BuzzAir
        </h1>
        <h5 class="text-center"> Welcome to the world of opportunities.</h5>
    </div>
</div>


@section Scripts {
    <script src="~/js/selectHome.js"></script>
    <script>HomePage()</script>
}