@{
    ViewData["Title"] = "Home";
}

@model IndexViewModel

<div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/city.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/lake.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/london.jpg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/nature.jpeg" class="d-block w-100">
        </div>
        <div class="carousel-item">
            <img src="~/images/sunrise.jpg" class="d-block w-100">
        </div>
    </div>
</div>

<div id="searchBar" class="position-absolute">
    <div id="tab">
        <i class="fa-solid fa-plane"></i> Flights
    </div>
    <form name="searchFlightsForm" method="post" class="row ms-0 g-3 align-items-center" asp-controller="Booking" asp-action="CreateBooking" id="bookingForm">
        <div class="row">
            <div class="form-check col-1">
                <input class="form-check-input" type="radio" name="isReturning" id="isReturning1" value="Return" checked>
                <label class="form-check-label" for="isReturning1">
                    Return
                </label>
            </div>
            <div class="form-check col-1">
                <input class="form-check-input" type="radio" name="isReturning" id="isReturning2" value="OneWay">
                <label class="form-check-label" for="isReturning2">
                    One Way
                </label>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-6">
                    <div class="inputContainer">
                        <select class="form-select form-select-lg" asp-for="Origin" asp-items="Model.Origins">
                            <option selected hidden disabled value=""></option>
                        </select>
                        <label class="customPlaceholder">Origin</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="inputContainer">
                        <select class="form-select form-select-lg" asp-for="Destination">
                            <option selected hidden disabled></option>
                        </select>
                        <label class="customPlaceholder">Destination</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row g-0">
                <div class="col-6" id="departureContainer">
                    <div class="inputContainer">
                        <input type="text" class="form-control form-control-lg" asp-for="Departure" />
                        <label id="departureLabel" class="customPlaceholder">Departure</label>
                    </div>
                </div>
                <div class="col-6" id="returnContainer">
                    <div class="inputContainer">
                        <input type="text" class="form-control form-control-lg" asp-for="Return" />
                        <label class="customPlaceholder">Return</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="inputContainer">
                <input class="form-control form-control-lg" asp-for="Passengers" min="1" max="10" value="" />
                <label class="customPlaceholder">Passengers</label>
            </div>
        </div>
        <div class="col-2 text-center">
            <button type="submit" class="w-100 btn btn-lg bg-dark text-white"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        </div>
    </form>
    <div id="text">
        <h1 class="pt-4 text-center">
            Welcome to BuzzAir
        </h1>
        <h5 class="text-center"> Welcome to the world of opportunities.</h5>
    </div>
</div>

<script src="~/js/selectHome.js"></script>
<script src="~/lib/pickadate.js-master/lib/picker.js"></script>
<script src="~/lib/pickadate.js-master/lib/picker.date.js"></script>
<script src="~/lib/pickadate.js-master/lib/picker.time.js"></script>
<script>
    document.getElementById('Departure').value = "";
    document.getElementById('Return').value = "";

    let divs = document.getElementsByClassName("inputContainer");

    for (let i = 0; i < divs.length; i++) {
        divs[i].addEventListener("click", function () {
            let select = divs[i].getElementsByTagName("select")[0]
            let input = divs[i].getElementsByTagName("input")[0]

            if (select != undefined) {
                select.focus();
            }

            if (input != undefined) {
                input.focus()
            }

            divs[i].getElementsByTagName("label")[0].addEventListener("click", function () {
                if (select != undefined) {
                    select.focus();
                }

                if (input != undefined) {
                    input.focus()
                }
            })
        });
    }

    let selects = document.getElementsByTagName("select")

    for (let i = 0; i < selects.length; i++) {
        selects[i].addEventListener("change", function () {
            selects[i].parentElement.getElementsByTagName("label")[0].classList.add("selectedSelect")
        })
    }

    let inputs = document.getElementsByTagName("input")

    for (let i = 0; i < inputs.length; i++) {
        inputs[i].addEventListener("input", function () {
            if (inputs[i]) {
                inputs[i].parentElement.getElementsByTagName("label")[0].classList.add("selectedSelect")
            } else {
                inputs[i].parentElement.getElementsByTagName("label")[0].classList.remove("selectedSelect")
            }
        })
    }

    $('#Departure').pickadate({
        onSet: function (context) {
            document.getElementById('Departure').dispatchEvent(new Event('input', {
                bubbles: true
            }))
        },
        onClose: function () {
            if (!$("#Departure").val()) {
                document.getElementById('Departure').parentElement.getElementsByTagName('label')[0].classList.remove("selectedSelect")
            }
        },
        min: new Date(),
        max: new Date(new Date().setFullYear(new Date().getFullYear() + 1)),
        today: null,
        clear: null,
        close: null
    })

    $('#Return').pickadate({
        onSet: function (context) {
            document.getElementById('Return').dispatchEvent(new Event('input', {
                bubbles: true
            }))
        },
        onClose: function () {
            if (!$("#Return").val()) {
                document.getElementById('Return').parentElement.getElementsByTagName('label')[0].classList.remove("selectedSelect")
            }
        },
        min: new Date(),
        max: new Date(new Date().setFullYear(new Date().getFullYear() + 1)),
        today: null,
        clear: null,
        close: null
    })

    let radioButtons = document.searchFlightsForm.isReturning;

    for (let i = 0; i < radioButtons.length; i++) {
        radioButtons[i].addEventListener('change', function () {
            if (this.value == "OneWay") {
                $("#returnContainer").hide();
                $("#departureContainer").removeClass("col-6")
                $("#departureContainer").addClass("col-12")
            } else {
                $("#returnContainer").show();
                $("#departureContainer").removeClass("col-12")
                $("#departureContainer").addClass("col-6")
                var originId = document.getElementById("Origin").value;
                var destinationId = document.getElementById("Destination").value;

                connection.invoke("GetReturnFlightDates", originId, destinationId).catch(function (err) {
                    return console.error(err.toString());
                });
            }
        })
    }
</script>