@{ 
    ViewData["Title"] = "Search";
}

<div>
    @if (Model.Error)
    {
        <h1>
            @Model.ErrorMessage
        </h1>
    }
    else
    {
        <h1>
            @Model.Origin
        </h1>
    }
</div>