@using BuzzAir.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] BuzzAir</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset-css.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/pickadate/lib/themes/default.css" />
    <link rel="stylesheet" href="~/lib/pickadate/lib/themes/default.date.css" />
    <link rel="stylesheet" href="~/lib/pickadate/lib/themes/default.time.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img src="~/images/logo.png" alt="Logo" width="100" height="40" class="d-inline-block align-middle">
                    <span class="d-inline-block align-middle">
                        BuzzAir
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active">Home</a>
                        </li>
                        @if (!User.IsInRole(GlobalConstants.AdminRole))
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Flight</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Flight" asp-action="CreateFlight" class="dropdown-item">Create Flight</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Flight" asp-action="All" class="dropdown-item">All Flights</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Aircraft</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Aircraft" asp-action="CreateAircraft" class="dropdown-item">Create Aircraft</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Aircraft" asp-action="All" class="dropdown-item">All Aircraft</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Airport</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="" asp-controller="Airport" asp-action="CreateAirport" class="dropdown-item">Create Airport</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Airport" asp-action="All" class="dropdown-item">All Airports</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Booking" asp-action="All" class="nav-link">All Bookings</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="justify-content-between d-flex flex-column" style="min-height: 100vh">
        <div>
            @RenderBody()
        </div>

        <footer class="footer text-center w-100 bg-dark">
            <p class="m-0 py-3 text-white">&copy; 2018 - BuzzAir. All rights reserved.</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/pickadate/lib/picker.js"></script>
    <script src="~/lib/pickadate/lib/picker.date.js"></script>
    <script src="~/lib/pickadate/lib/picker.time.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
