<a class="btn bg-dark text-white" id="printBoardingPassBtn">Get your boarding pass now</a>

<div class="d-none" id="printableArea">
    <h1>Boarding pass</h1>
    <h3>@Model.Departure</h3>
    @if (Model.Arrival != null)
    {
        <h3>@Model.Arrival</h3>
    }

    <h1>Have a nice flight with us!</h1>
</div>

<div class="d-none" id="printed">
    <h2>Thank you for using BuzzAir. Have a nice flight.</h2>
</div>

@section Scripts {
    <script>
        $("#printBoardingPassBtn").click(function () {
            PrintBoardingPass();
        })
    </script>
}